<form action="/login" method="post">
  Username: <input class="form_width" type="text" name="username"><br>
  Password: <input class="form_width" type="password" name="password"><br>
  <input type="submit" value="login">
</form>